pinecone[grpc]
openai
google-generativeai
python-dotenv
PyPDF2
python-pptx
docx2txt
pdfminer.six
requests
google-api-python-client
tqdm
python-docx
numpy
beautifulsoup4
matplotlib
pandas
scipy
seaborn
tiktoken
flask
requests
flask-sqlalchemy 
flask-login 
flask-bcrypt
gunicorn